body {
    margin: 0;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url("../fonts/Poppins-SemiBold.ttf");
}

.container {
    margin: 0 160px;
	
}

.header {
background-image: url(../images/gids.png);
height: 736px;
background-repeat: no-repeat;
background-size: cover;

}

.header-line {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
	/* weight:1120px; */
}

.nav-item-logo {
    color: white;
    text-decoration: none;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;

    margin-right: 72px;

    transition: color 0.35 linear;   
}

.nav-item:hover {
    color: black;
}

.container-hello {
    background-color: white;
	width: 80%;
	position:absolute;
	top: 522px;
	border: 3px solid #ccc;
	border-radius: 40px;
	
}

.hello-text {
	position: relative;
	margin: 40px 40px;
	text-align: left;
	line-height: normal;
	font-family: 'Poppins-Regular', sans-serif;
	font-size: 32px;

    line-height: 0.3;
}

.hello {
	color: #008ec4;
	font-family: 'Poppins-SemiBold', sans-serif;
	font-size: 60px;

}

.hello-text p {
  margin-top: 32px; /* Отступ между заголовком и параграфом */
  margin-bottom: 0; /* Убираем нижний отступ у параграфа */
}

.textik {
    display: flex;
  flex-direction: column;
  gap: 4px; /* Отступ между строками текста */
  text-align: left; /* Выравнивание текста по левому краю */
}

.icon {
    width: 32px; /* Фиксированная ширина */
  height: 32px; /* Фиксированная высота */
  flex-shrink: 0; /* Запрещаем сжатие иконки */
}

.search {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    position: relative;
    margin-right: 12px;

    margin-left: auto; /* выталкивает кнопку поиска вправо */
}


/* === Мобильные (до 768px) === */
@media (max-width: 767px) {
  .buttons-container {
    flex-direction: column;
  }
}

.why-container {
    padding: 216px 0; /*! отступы(смотри через alt) !*/
    position: relative;
    
}

.text-question {
text-align: center; /* Выравнивание текста по центру */

font-family: 'Poppins-Bold', sans-serif;
    color: #1A1A1A;
    font-size: 40px;
    font-weight: 700;
}

.why-card {
    display: flex;
    flex-direction: row;
    
    margin-top: 72px;
    margin-left: 90px;
    gap: 104px;

    text-align: center; /* Выравнивание текста по центру */
}

.icon-why {
     width: 80px; /* Фиксированная ширина */
  height: 80px; /* Фиксированная высота */
  flex-shrink: 0; /* Запрещаем сжатие иконки */
}

.general-text {
    font-family: 'Poppins-Bold', sans-serif;
    color: #1A1A1A;
    font-size: 20px;
    font-weight: 700;
}

.info {
    font-family: 'Poppins-Regular', sans-serif;
    color: #191919;
    font-size: 16px;
    font-weight: 500;
}
