body {
    margin: 0;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url("../fonts/Poppins-SemiBold.ttf");
}

.container {
    margin: 0 160px;
}

.header {
background-image: url(../images/header.png);
height: 100vh;
background-repeat: no-repeat;
background-size: cover;
}

.header-line {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item-logo {
    color: white;
    text-decoration: none;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;

    margin-right: 72px;

    transition: color 0.99 linear;   
}

.nav-item:hover {
    color: black;
}

.container-hello {
    position: relative;


}