body {
    margin: 0;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: 'Poppins-Regular';
    src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url("../fonts/Poppins-SemiBold.ttf");
}

.container {
    margin: 0 160px;
	
}

.header {
background-image: url(../images/header.png);
height: 736px;
background-repeat: no-repeat;
background-size: cover;

}

.header-line {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
	/* weight:1120px; */
}

.nav-item-logo {
    color: white;
    text-decoration: none;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.nav-item {
    color: white;
    text-decoration: none;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 16px;

    margin-right: 72px;

    transition: color 0.35 linear;   
}

.nav-item:hover {
    color: black;
}

.container-hello {
    background-color: white;
	width: 80%;
	position:absolute;
	top: 522px;
	border: 3px solid #ccc;
	border-radius: 40px;
	
}

.hello-text {
	position: relative;
	margin: 40px 40px;
	text-align: left;
	line-height: normal;
	font-family: 'Poppins-Regular', sans-serif;
	font-size: 32px;

    line-height: 0.3;
}

.hello {
	color: #008ec4;
	font-family: 'Poppins-SemiBold', sans-serif;
	font-size: 60px;

}

.hello-text p {
  margin-top: 32px; /* Отступ между заголовком и параграфом */
  margin-bottom: 0; /* Убираем нижний отступ у параграфа */
}

.buttons-container {
    display: flex;
    gap: 106px;
    margin-top: 48px;
    margin-left: 40px; /* отступы нах */
    margin-bottom: 40px;
    margin-right: 40px;

	border: 3px solid #ccc;
	border-radius: 70px; 
    
    
}

.action-button {
 display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px; /* Отступ между строками текста */
  text-align: left; /* Выравнивание текста по левому краю */

    text-decoration: none;

    margin-top: 23px;
    margin-bottom: 23px;
    margin-left: 20px;


}

.button-title {
    font-family: 'Poppins-Bold', sans-serif;
    color: #1A1A1A;
    font-size: 16px;
    font-weight: 600;
}

.button-subtitle {
    font-family: 'Poppins-Regular', sans-serif;
    color: #8C8C8C;
    font-size: 16px;
    font-weight: 500;
}

.textik {
    display: flex;
  flex-direction: column;
  gap: 4px; /* Отступ между строками текста */
  text-align: left; /* Выравнивание текста по левому краю */
}

.icon {
    width: 32px; /* Фиксированная ширина */
  height: 32px; /* Фиксированная высота */
  flex-shrink: 0; /* Запрещаем сжатие иконки */
}

.search {
    display: flex;
    align-items: center; /* Выравнивание по вертикали */
    position: relative;
    
    left: 470px;
    margin-right: 12px;
}


